
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <h1>Home - Homework 4</h1>
    <h3 class="text-muted">Student Number: u21653268</h3>
    <h3 class="text-muted">Name: Tifuh Nche</h3>

    <h3>Use Case naratives:</h3>
    <img class="img-fluid" src="~/Images/Narrative1.png" alt="Image" />
    <br />
    <img class="img-fluid" src="~/Images/Narrative2.png" alt="Image" />

    <h3>Class Diagram:</h3>
    <img class="img-fluid" src="~/Images/ClassDiagram.jpeg" alt="Image" />
</div>


